body {
	width: 800px;

	margin: 0px;
	margin-left: auto;
	margin-right: auto;


	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.bio {
	padding-left: 1em;
	padding-right: 1em;
}

.mobile {
	display: none;
}

.chapeau {
	display: flex;

	
	padding-top: 3em;
	padding-bottom: 3em;

	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	background-image: url('bg.jpg');
}

.face {
	margin-left: auto;
	margin-right: auto;
}

.face .image {
	width: 200px;

	padding: 10px;
	background-color: white;

	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100% / 100%;
}

.name {
  	display: block;

	margin-top: auto;
	margin-bottom: auto;

	align-items: center;

}

.name .title {
	font-size: 4em;
	font-weight: bold;

	padding-left: 1rem;
	padding-right: 1rem;
	
	background-color: white;
}

.name .subtitle {
	font-size: 2em;
	font-weight: 300;

	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 0.75rem;

	background-color: white;
}

@media screen and (max-width: 799px) {
	body {
		width: auto;
	}

	.mobile {
		display: revert;
	}

	.desktop {
		display: none;
	}

	.chapeau {
		display: block;
		text-align: left;
	}

	.face .image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
	
	.name {
		margin: auto;
		margin-top: 15px;
	}
	
}
