body {
	width: 800px;

	margin: 0px;
	margin-left: auto;
	margin-right: auto;


	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}



.mobile {
	display: none;
}

.chapeau {
	display: flex;

	height: 220px;

	
	padding-top: 3em;
	padding-bottom: 3em;

	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	background-image: url('bg.jpg');
}

.face {
	margin-left: auto;
	margin-right: auto;
}

.face .image {
	width: 200px;

	padding: 10px;
	background-color: white;

	-moz-border-radius: 100% / 100%;
	-webkit-border-radius: 100% / 100%;
	border-radius: 100% / 100%;
}

.name {
	display: block;

	margin-top: auto;
	margin-bottom: auto;

	align-items: center;

}

.name .title {
	font-size: 4em;
	font-weight: bold;

	padding-left: 1rem;
	padding-right: 1rem;
	
	background-color: white;
}

.name .subtitle {
	display: inline;
	
	font-size: 2em;
	font-weight: 300;

	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 0.75rem;

	background-color: white;
}

.name .subtitle a {
	color: black;
}

.buy-contact {
	display: block;
	background-color: white;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;

	padding-left: 1em;
	padding-right: 1em;


	width: 100%
}

.buy {
	width: 100%;
}

.contact {
	width: 100%;
	padding-bottom: 2em;
}

.line {
	border-top: 1px solid black;
	margin: 2em;
}

.contact .dest {
	float: right;
}

.contact a {
	color: black;
	padding-left: 1em;
	padding-right: 1em;
}

@media screen and (max-width: 799px) {
	html,body {
		height: 100%;
	}

	body {
		display: flex;
		flex-direction: column;
		width: auto;
		height: 100%;

	}

	.grey-bg {
		display: flex;
		background-color: #B1B1B1;
		flex: 1;
	}
	
	.mobile {
		display: revert;
	}

	.desktop {
		display: none;
	}

	.chapeau {
		display: block;
		text-align: left;
	}

	.face .image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
	
	.name {
		margin: auto;
		margin-top: 15px;
	}
	
	.name .title {
		font-size: 2.5em;
	}

	.name .subtitle {
		font-size: 1.5em;
	}
}
